# Calculates and compares Adler32 Checksum for each file
DoChecksum     = True
# Forces redownload of PhEDEx file list, automatically does this if list is more than a week old or if list is missing
DownloadPhEDEx = False

########################################################################################################################

[UseCache]
# These are options that might be ignored if other options are set to true, as described in the comments.
# These can be used to recheck the site without redoing all of the steps in ConsistencyCheck.py

# Reads PhEDEx file list and existing directory structure, automatically does this if DownloadPhEDEx is True
ParsePhEDExAndDir = False
# Only reads PhEDEx file list, automatically does this if ParsePhEDExAndDir is True
ParsePhEDEx       = False
# Goes back through existing directory structure, automatically does this if ParsePhEDExAndDir is True
ParseDir          = True