.topbutton {
    float: left;
    padding: 1em 0em 1em 0em;
    background-color: #dddddd;
    width: 33.3333%;
    box-sizing: border-box;
    color: #000000;
    border: 1px solid #666666;
}

.topbutton:hover {
    background-color: #666666;
    color: #ffffff;
}

td {
    white-space: nowrap;
}

td .givestarted {
    background-color: #ffffff;
    border: 1px solid black;
    padding: 0.25em;
    display: none;
    position: absolute;
}

td:hover .givestarted {
    display: block;
}
