.topbutton {
    float: left;
    padding: 1em 0em 1em 0em;
    background-color:#dddddd;
    width: 33.3333%;
    box-sizing: border-box;
    color:#000000;
}

.topbutton:hover {
    background-color:#777777;
    color:#ffffff;
}
